// SCSS Variables
$primary-color: #2c3e50;
$primary-hover: #636e72;
$secondary-color: #dfe6e9;
$font-family: 'Roboto', sans-serif;
$breakpoint-lg: 1150PX;
$breakpoint-md: 900px;
$breakpoint-sm: 600px;

:root {
  --primary-color: #{$primary-color};
  --primary-hover: #{$primary-hover};
  --secondary-color: #{$secondary-color};
  --font-family: #{$font-family};
}